body {
    width: 100%;
    height: 100vh;
    background-color: #20243f;
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

i {
    color: #9fa8c9;
    margin-left: 15px;
}

