.date {
    margin-top: 40px;
}

.date-main {
    width: 60%;
    height: 60%;
    border: 25px solid aqua;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
}


.text-date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-month-name {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}

.date-year-name {
    color: white;
}